@import 'settings/colors';

.hasLine {
  position: relative;
}

.line {
  display: block;
  width: 42px;
  height: 1px;
  background-color: $color-grey-muted;
  position: absolute;
  top: 50%;
  left: -64px;
}
