# ----------------------------
# Windows
# ----------------------------

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db


# Folder config file
Desktop.ini


# Recycle Bin used on file shares
$RECYCLE.BIN/



# ----------------------------
# Node
# ----------------------------

# Logs
logs
*.log
npm-debug.log*


# Folders
node_modules/
build/
