$color-grey-pivotal      : hsla(210, 29%, 6%, 0.94);
$color-grey-major        : hsla(210, 29%, 16%, 0.94);
$color-grey-minor        : hsla(210, 29%, 30%, 0.92);
$color-grey-omitted      : hsla(210, 15%, 62%, 0.9);
$color-grey-muted        : hsla(210, 15%, 92%, 0.9);

$color-variant-primary   : hsla(249, 82%, 66%, 1);
$color-variant-secondary : hsla(99, 63%, 49%, 1);
$color-variant-accent    : hsla(38, 100%, 63%, 1);
