@import 'settings/colors';

.todosCats {
  margin: 1em 0 1em -2em;

  & > a {
    margin-left: 2em;
    text-decoration: none;
    color: $color-grey-major;

    &:hover {
      color: $color-variant-primary;
    }
  }

  & .badge {
    margin-left: 0.5em;
  }
}
