@import 'settings/colors';

.IconNavbar {
  padding: 0;
  margin: 0;
  margin-left: -10px;
  list-style: none;
  display: flex;
  font-size: 32px;

  & > li {
    margin-left: 10px;
  }

  & a {
    color: $color-grey-minor;
    transition: all 250ms ease-in-out;

    &:hover {
      color: $color-variant-primary;
    }
  }
}
