@import 'settings/colors';

#Sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  width: 25%;
  padding: 2em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-right: 1px solid $color-grey-muted;

  @media (max-width: 992px) {
    width: 248px;
  }

  @media (min-width: 1200px) {
    width: 320px;
  }
}
