#Main {
  position: relative;
  padding: 4em;
  margin-left: 25%;
  min-height: 100vh;

  @media (max-width: 992px) {
    margin-left: 248px;
  }

  @media (min-width: 1200px) {
    margin-left: 320px;
  }
}
