@import 'settings/colors';

.Section {
  padding: 3em 0;
  border-bottom: 1px solid $color-grey-muted;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
